.call{
    width: 100vw;
    /* height: 110vw; */
    height: auto;
    position: fixed;
    padding: 8vw 7vw;
    top: 3vw;
    /* left: 20%; */
    z-index: 25;
   /*  font-family: Geneva, Arial, Helvetica, sans-serif; */
    background-color: white;
    box-shadow: 1vw 1vw 1vw gray;
    display: none;
    /* background-color: yellowgreen; */
   }
   .call__close {
    width: 15vw;
    height: 10vw;
    position: absolute;
    top: 1.5vw;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: yellowgreen; */
}

.call__close span {
    /* width: 12vw; */
    /* height: 0.3vw; */
    width: 40px;
    height: 2px;
    background-color: #3223BE;
}

.call__close span:first-child {
    top: 50%;
    transform: translate(50%, 0%) rotate(45deg);
}

.call__close span:last-child {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}   

.call__form {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 5vw;
    padding: 1.5vw 3.7vw;
    border: 1px solid #DEDEDE;
    /* background-color: yellowgreen; */
}

.call__form_title {
    font-size: 5vw;
    font-weight: 700;
    /* background-color: yellow; */
}

.call__form_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    font-weight: 500;
    margin-top: 5vw;
    /* background-color: yellow; */
}

.call__form_description span {
    width: 100%;
}

.call__form_item {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 22vw;
    gap: 0.55vw;
    margin-top: 1.2vw;
    /* background-color: yellowgreen; */
    
}
#formcall{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.call__form_element {
    /* position: relative; */
    width: 70vw;
    height: 10vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    opacity: 0.7;
    padding-left: 1vw;
}

.call__form_element::-webkit-input-placeholder {
    font-size: 0.8em;
    font-weight: 300;
}

.call__form_text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #808080;
    margin-top: 6vw;
}

.call__form_text p {
    font-size: 0.5em;
    margin-bottom: 2vw;
}

.call__form_link {
    height: 5vw;
    margin-top: 3vw;
}

.actives{
    border: 1px solid red;
    /* color: red; */
}

.call__form_element1_active, 
.call__form_element2_active,
.call__form_element3_active{
    visibility: hidden;
    /* visibility: visible; */
    font-size: 4vw;
    color: red;
}