.intro {
    width: 100vw;
    height: 38vw;
    margin-top: 1vw;
    background-repeat: no-repeat;
    background-image: url(../../assets/desktop/Cat-D10T.png);
    background-size: 72vw 36vw;
    background-position: right;
}

.intro__item {
    max-width: 40vw;
    height: 16.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6vw;
}

.intro__text {
    width: 40vw;
    height: auto;
}

.intro__text p {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    font-family: Helvetica, sans-serif;
    line-height: 1.2em;
    font-size: 2.95vw;
    font-weight: 700;
}

.intro__button {
    width: 15vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3223BE;
    transition-duration: 0.5s;
}

.intro__button a {
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 500;
    color: white;
}

.intro__button:hover,
.intro__button:focus,
.intro__button:active {
    box-shadow: 0 0  0.8em rgba(0,0,0,0.5) ;
     cursor: pointer;
}

.intro__img {
    width: 80%;
    position: absolute;
    right: 0;
}