.contact {
    width: 78vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5.5vw;
    margin-bottom: 4vw;

   /*  font-family: 'Roboto';
    font-style: normal; */
    


}

.contact__title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    color: #3223BE;
    font-size: 2.4vw;
    font-weight: 900;
    margin: 2vw 0;
}

.contact__title span::after {
    content: "Контакты";
    color: #F4F4F4;
    position: absolute;
    font-size: 2.3vw;
    font-weight: 700;
    top: 0.3vw;
    left: 0;
    z-index: -10;
}

.contact__container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
}

.contact__links {
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
    width: 30vw;
}

.contact__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8vw;
    /* background-color: yellowgreen; */
}

.contact__item_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    /* background-color: yellow; */

   /*  font-family: 'Roboto'; */
    /* font-style: normal; */
    /* font-size: 16px;
    line-height: 1.2; */
    /* font-weight: 500; */
   /*  color: red; */
}
.contact__item_pic{
    width: 1.25vw;
    height: auto;
    /* background-color: yellowgreen; */
}

.contact__item_pic img{
    width: 100%;
    height: auto;
}

.contact__item img {
     /* width: 100%;
     height: auto; */
    /* width: 1.3vw;
    height: 1.3vw; */
}

.contact__item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;

}

.contact__item_title span {
    color: #162623;
    font-size: 1vw;
    font-weight: 300;
}

.contact__item_text {
    font-size: 1vw;
    letter-spacing: 0.06em;
    font-weight: 700;
}

.contact__map {
    width: 40vw;
    height: 20vw;
    background-image: url("../../assets/desktop/map.png");
}

.contact__map img {
    width: 100%;
    height: auto;
}