.thanks {
    width: 50vw;
    height: 36vw;
    position: fixed;
    left: 10%;
    z-index: 25;
    /* font-family: Geneva, Arial, Helvetica, sans-serif; */
    background-color: white;
    box-shadow: 1vw 1vw 1vw gray;
    display: none;
}

.thanks_wrapper {
    width: 42vw;
    height: 20vw;
    margin-left: 11vw;
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
}

.thanks_title {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 6vw;
    font-size: 1.8vw;
    font-weight: 700;
    color: #3223BE;
    position: relative;
}

.thanks_text {
    font-size: 1.146vw;
    margin-top: 2.8vw;
}

.thanks_title::after {
    width: 40vw;
    content: "Спасибо за вашу заявку!";
    color: #F4F4F4;
    position: absolute;
    font-size: 3.1vw;
    font-weight: 700;
    top: 0.2vw;
    left: 0;
    z-index: -1;
}

.thanks_link {
    width: 15.3vw;
    height: 3vw;
    margin-top: 1.35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3223BE;
    transition-duration: 0.5s;
}

.thanks_link a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

.thanks_link:hover,
.thanks_link:focus,
.thanks_link:active {
    opacity: 0.7;
}