.pop_up {
    width: 70vw;
    height: 41vw;
    position: fixed;
    z-index: 25;
    top: 2%;
    left: 20%;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1vw 1vw 1vw gray;
    display: none;
    /* background-color: brown; */
    
    
}

.pop_up__close {
    width: 7vw;
    height: 6vw;
    position: absolute;
    top: 1.5vw;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: yellow; */
}

.pop_up__close span {
    width: 3.8vw;
    height: 0.35vw;
    background-color: #3223BE;
}

.pop_up__close span:first-child {
    top: 50%;
    transform: translate(50%, 0%) rotate(45deg);
}

.pop_up__close span:last-child {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.pop_up_form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10vw;
    justify-content: center;
    /* background-color: yellowgreen; */
}

.pop_up_form__wrapper {
    width: 35vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    /* background-color: violet; */
}

.pop_up_form__title {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 9vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 700;
    color: #3223BE;
    position: relative;
    /* background-color: turquoise; */
}

.pop_up_form__title span:first-child::after {
    content: "Подбор запчасти по фото";
    color: #F4F4F4;
    position: absolute;
    /* font-size: 3.4vw; */
    font-size: 3vw;
    font-weight: 700;
    top: -0.1vw;
    left: 0;
    z-index: -1;
}

.pop_up_form__title span:last-child::after {
    content: "или артикулу";
    color: #F4F4F4;
    position: absolute;
    font-size: 3vw;
    font-weight: 700;
    top: 2.2vw;
    left: 0;
    z-index: -1;
}

.pop_up_form__item {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    /* background-color: #808080; */
}

.pop_up_form__element {
    width: 22.5vw;
    height: 3vw;
    font-size: 1vw;
    padding: 0.5vw 1vw;
    opacity: 0.7;
}

.delivery__form_element::-webkit-input-placeholder {
    font-size: 1vw;
    font-weight: 300;
}

.pop_up__file {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: row;
}

.pop_up__file p {
    font-size: 0.9vw;
    margin-left: 1vw;
    margin-top: 1vw;
    color: #808080;
}

.input-file{
    position: relative;
    width: fit-content;
    padding: 0.5vw 1.70vw;
    display: flex;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 1vw;
    color: #3223BE;
    background-color: white;
    border: 1px solid #3223BE;
    /* z-index: -1; */
}

/* .input-file span::after {
    width: 20vw;
    content: "Файл не выбран";
    color: #808080;
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    top: 0.5vw;
    left: 13vw;
    z-index: -1;
} */



.pop_up_form__item input[type=file] {
    position: absolute;
    z-index: 3;
    display: block;
    width: 15vw;
    opacity:0;
    width: 9vw;
    height: 3vw;
    transform: scale(1.3);
    
}
/* .input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
} */





.pop_up__description {
    font-size: 0.9vw;
    margin-top: 1vw;
    color: #808080;
}

.pop_up_form__submit {
    width: 15.5vw;
    height: 3vw;
    margin-top: 1vw;
    color: white;
    font-size: 1.1vw;
    border: none;
    background-color: #3223BE;
}

.pop_up_form__submit:hover,
.pop_up_form__submit:focus,
.pop_up_form__submit:active {
    opacity: 0.7;
}