.parts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20vw;
}

.parts__title {
    width: 70%;
    font-size: 5vw;
    color: #3223BE;
    position: relative;
    margin-bottom: 3vw;
}

.parts__title span {}

.parts__title span::after {
    width: 80vw;
    content: "Поставляем любые запчасти для";
    color: #F4F4F4;
    position: absolute;
    font-size: 5vw;
    font-weight: 900;
    top: 2.5vw;
    left: 2vw;
    z-index: -10;
}

.parts__item_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 6vw;
}

.parts__item {
    width: 40%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 5vw 0;
    border: 1px solid #DEDEDE;
    transition-duration: 0.5s;
    /* background-color: yellowgreen; */
}

.parts__item:hover,
.parts__item:focus,
.parts__item:active {
    background-color: #DEDEDE;
    opacity: 0.8;
}

.parts__item-pic {
    width: 90%;
    height: auto;
}

.parts__item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 3vw;
}