.trailers {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    /* gap: 3vw; */
    /* padding: 3vw; */
    margin-top: 5vw;
    padding-bottom: 10vw;
    padding-left: 2vw;
    border: 1px solid #DEDEDE;
    background-repeat: no-repeat;
    background-image: url(../../assets/desktop/treiler.png);
    background-size: 90vw 50vw;
    background-position: bottom;
}


.trailers__content {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

.trailers__content_wrapper {
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    /* gap: 3vw; */
    /* background-color: rgb(222, 222, 228); */
}

.trailers__descriptions {
    width: 100%;
}


.trailers__descriptions p {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    padding-top: 3vw;
}

.trailers__descriptions p span {
    font-size: 3vw;
}

.trailers__title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #3223BE;
    font-size: 4.5vw;
    font-weight: 700;
    margin-bottom: 5vw;
    /* margin-left: 3vw; */
    margin-top: 2vw;
    word-wrap: break-word;
    position: relative;
    /* background-color: yellowgreen; */
}

.trailers__title span:first-child::after {
    content: "Большой выбор прицепов всех типов";
    color: #F4F4F4;
    position: absolute;
    word-wrap: break-word;
    font-size: 5vw;
    font-weight: 900;
    top: 2vw;
    left: 0;
    z-index: -10;
    /* background-color: yellowgreen; */
}

.trailers__title span:last-child::after {
    content: "и запчастей к ним";
    color: #F4F4F4;
    position: absolute;
    font-size: 5vw;
    font-weight: 900;
    top: 7vw;
    left: 0;
    z-index: -10;
    /* color: rebeccapurple; */
}


.trailers__img {
    display: none;
    
    width: 80vw;
    height: 20vw;
    /* margin-top: -4vw; */
    background-color: violet;
    /* display: none; */
    /* z-index: 25; */
}
/* .trailers__pic{
    width: 100;
    height: 20vw;
    background-color: violet;
} */


.trailers__img img {
    width: 100%;
    height: auto;
}

.trailers__link {
    margin-bottom: 5vw;
    /* margin-top: -5vw; */
}